%h2= t("users.signup")
- if @user.errors.any?
  - @user.errors.full_messages.each do |msg|
    %p= "#{msg}"
= form_for @user, :html => {:class => 'new-user-form'} do |f|
  %ul.field
    %li
      %span= f.label :username, t("user.username")
      %span= f.text_field :username
    %li
      %span= f.label :email, t("user.email")
      %span= f.text_field :email
    %li
      %span= f.label :password, t("user.password")
      %span= f.password_field :password
    %li
      %span= f.label :password_confirmation, t("user.password_confirmation")
      %span= f.password_field :password_confirmation
    %li
      %span= f.label :gender, t("user.gender")
      %span= f.select :gender, gender_options, :include_blank => t('user.gender.default_gender')
    %li
      %span= f.label :qq_number, t("user.qq_number")
      %span= f.text_field :qq_number
    %li
      %span= f.label :skype, t("user.skype")
      %span= f.text_field :skype
    %li
      %span= f.label :question, t("user.question")
      %span= f.select :question, question_options, :include_blank => t('user.question.default_question')
    %li
      %span= f.label :answer, t("user.answer")
      %span= f.text_field :answer
    %li
      %span= f.file_field :feature_image
    %li
      %span= f.submit t("users.submit")